Repository Slomangino/Urban-Spork, pull requests merged in 2018-03, with the labels that each got.

#27 Urbanspork work/us 004
  .gitignore
  CQRSLite/Filters/IFilterCriteria.cs
  CQRSLite/Queries/QueryHandler/IFilteredQueryHandler.cs
  CQRSLite/UrbanSpork.CQRS.csproj
  CQRSLite/obj/project.assets.json
  UrbanSpork.API/Controllers/EventController.cs
  UrbanSpork.API/Controllers/UserController.cs
  UrbanSpork.API/Startup.cs
  UrbanSpork.API/UrbanSpork.API.csproj
  UrbanSpork.API/appsettings.json
  UrbanSpork.Common/FilterCriteria/UserFilterCriteria.cs
  UrbanSpork.Common/UrbanSpork.Common.csproj
  UrbanSpork.DataAccess/Events/Users/UserCreatedEvent.cs
  UrbanSpork.DataAccess/Projections/UserDetailProjection.cs
  UrbanSpork.ReadModel/QueryCommands/GetUserCollectionQuery.cs
  UrbanSpork.ReadModel/QueryHandlers/GetUserCollectionQueryHandler.cs
  UrbanSpork.sln
Labels: user-management

#28 Us work/us 028
  UrbanSpork.Common/FilterCriteria/UserFilterCriteria.cs
Labels: API, bug

#31 Added CORS with properties that allow acces from any header
  CQRSLite/obj/project.assets.json
  UrbanSpork.API/Startup.cs
  UrbanSpork.API/UrbanSpork.API.csproj
Labels: API, Web

#41 US-042
  api/UrbanSpork.API/Controllers/UserController.cs
  api/UrbanSpork.API/Startup.cs
  api/UrbanSpork.Common/DataTransferObjects/User/UserDetailProjectionDTO.cs
  api/UrbanSpork.Common/DetailedUserPermissionInfo.cs
  api/UrbanSpork.DataAccess/Projections/UserDetailProjection.cs
  api/UrbanSpork.ReadModel/QueryCommands/GetUserCollectionQuery.cs
  api/UrbanSpork.ReadModel/QueryHandlers/GetUserCollectionQueryHandler.cs
Labels: API, user-management
